:root {
  --red: #ff3838;
  --white: #ffffff;
  --black: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
body,
html {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    rgba(106, 90, 205, 1),
    rgba(238, 130, 238, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar {
  background-color: transparent;
  padding: 30px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1366px;
  z-index: 99;
}

.navbar a {
  float: left;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  padding: 12px;
}

.navbar .logo {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-right a:hover {
  color: var(--red);
}

.navbar-right a.active {
  color: var(--red);
}

.navbar-right a {
  transition: color 0.5s ease;
}

.navbar-right {
  float: right;
}

.navbar-right button {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
}
.navbar-right button {
  padding: 10px 24px 10px 24px;
  margin-left: 10px;
  border: 2px solid var(--white);
  border-radius: 6px;
  background: transparent;
  transition: color 0.5s ease;
  cursor: pointer;
}

.navbar-right button:active {
  transform: scale(0.98);
}

.navbar-right button:hover {
  color: var(--red);
}

.navbar .icon {
  display: none;
}

.section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 200px;
}

.container {
}

.card {
  margin: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 20px black;
  border-radius: 50%;
}

.avatar {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
  }

  .navbar.show {
    background: var(--black);
  }

  .navbar.show .menu {
    display: block;
    width: 100%;
  }

  .navbar.show .menu a {
    width: 100%;
  }
}
